<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--        Bean definition for Alien class -->
<!--        Singleton creates one Object and uses it multiple times.-->
<!--        <bean id="alien" class="org.debarshee.Alien" scope="singleton"></bean>-->
        <bean id="alien" class="org.debarshee.Alien">
                <property name="identity" value="10" ></property>
        </bean>

<!--        Prototype creates multiple Objects and uses it multiple times.-->
<!--        <bean id="alien" class="org.debarshee.Alien" scope="prototype"></bean>-->

</beans>
